1-1

In [5]:
1 and 2 and 3 and 4

4

0이 아니면 참이므로 and 연산에서 둘 다 참이면 오른쪽이 결과값이 된다.  
1 and 2 and 3 and 4 -> 2 and 3 and 4 -> 3 and 4 -> 4

1-2

In [6]:
1 or 2 or 3 or 4

1

or 연산에서 왼쪽이 참이면 오른쪽은 거짓이든 참이든 연산 결과가 참이므로  
왼쪽이 결과값이 됨. 1 or 3 or 4 -> 1 or 4 -> 1

1-3

In [7]:
1 and 2 or 3 and 4

2

and 연산자가 or 연산자보다 우선순위, 1 and 2의 연산결과 2, 3 and 4의 결과 4  
따라서 2 or 4의 결과값은 2이다.

1-4.

In [8]:
(1 and 2) or (3 and 4)

2

1 and 2의 연산결과 2, 3 and 4의 결과 4 따라서 2 or 4의 결과는 2이다.

1-5

In [9]:
1 or 2 and 3 or 4

1

2 and 3부터 연산하면 3, 1 or 3 or 4 이므로 결과는 1이된다.

1-6.

In [10]:
(1 or 2) and (3 or 4)

3

1 and 3이므로 결과값은 3이다.

2.

In [11]:
def div_path(s):
    
    a = s.split('/')
    file = a[-1]
    b = a[:-1]
    path = '/'.join(b)
    bin_list = []
    bin_list.append(path)
    bin_list.append(file)
    
    return bin_list

print(div_path('/usr/local/bin/python'))
print(div_path('/home/chulsoo/test.txt'))

['/usr/local/bin', 'python']
['/home/chulsoo', 'test.txt']

split으로 문자열 s를 '/' 기준으로 나누게 되면 a는 문자열을 인자로 갖는 리스트가 된다.  
파일(f)는 경로에서 /을 기준으로 맨 뒤 원소가 되므로 리스트 a에서 -1번째,    
경로(p)는 파일(f) 전 까지이므로 -1번째까지 간다음 '/'.join을 사용해서 리스트 원소들을 '/'로 이어줌

3.

In [12]:
def list_union(a_list, b_list):
    
    c_list = a_list
    for i in b_list:
        if i not in c_list:
            c_list.append(i)
    
    c_list.sort()
    
    return c_list

print(list_union([1,2,3],[1,2,4]))
print(list_union([-10,-5,-1,0,9,100], [100,9,0,9]))
print(list_union([0,1,2],[0,1,2]))

[1, 2, 3, 4]
[-10, -5, -1, 0, 9, 100]
[0, 1, 2]

함수 내 a_list와 같은 원소를 갖는 새로운 c_list를 만든다. b_list에는 있지만  
c_list에는 없는 새로원 원소들을 c_list에 추가한다. 그리고 정렬(sort)을 한 후  
c_list를 반환한다.

4-1.

In [13]:
def list_intersection(a_list, b_list):
    
    c_list = []
    
    for i in a_list:
        if i in b_list:
            c_list.append(i)
            
    c_list.sort()
    
    return c_list

print(list_intersection([1,2,3],[1,2,4]))
print(list_intersection([2,0,1],[0,1,2]))

[1, 2]
[0, 1, 2]

교집합도 위와 똑같은 방식을 이용한다. 새로운 c_list를 만든 후 a_list에 있는 원소들 중  
b_list에도 있는 원소들을 c_list에 추가(append), 정렬(sort)한 후 반환한다.

4-2.

In [14]:
def list_difference(a_list, b_list):
    
    c_list = []
    
    for i in a_list:
        if i not in b_list:
            c_list.append(i)
            
    c_list.sort()
    
    return c_list

print(list_difference([1,2,3],[1,2,4]))
print(list_difference([3,4,1,5,2],[4,3]))

[3]
[1, 2, 5]

차집합도 똑같은 방식 이용. a_list에는 있고 b_list에는 없는 원소들을  
c_list에 추가, 정렬한 후 반환한다.

5.

In [15]:
def print_primenumber(a, b):

    c_list = []
    d_list = []

    
    for i in range(a, b+1):
        for j in range(1, i+1):
            if i % j == 0:
                c_list.append(i)
    
    for k in c_list:
        if c_list.count(k) == 2:
            d_list.append(k)
    
    print("{}이상 {} 이하 정수 중 소수 리스트 : {}".format(a,b,set(d_list)))
    
print_primenumber(2,10)
print_primenumber(2,100)

2이상 10 이하 정수 중 소수 리스트 : {2, 3, 5, 7}
2이상 100 이하 정수 중 소수 리스트 : {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}

a에서 b까지 사이에 있는 수를 모두 1에서 자기 자신까지 하나씩 나눠본다.  
소수는 1과 자기 자신만을 약수로 가지므로 그 c_list에 추가되는 숫자의  
개수는 2이어야한다. 같은 원소가 2개인 수들을 d_list에 추가(append)하게  
되면 그 수들은 모두 소수이다.

6-1.

In [ ]:


import requests
import re


req1 = requests.get('https://dict.naver.com/')
source = req1.text

#print source

body = re.search('<body.*</body>', source, re.I|re.S)
body = body.group()
body = re.sub('<script.*?>.*?</script>', '', body, 0, re.I|re.S)

req11 = re.sub('<.+?>', '', body, 0, re.I|re.S)

req12 = re.sub('&nbsp; |\t|\r|\n', '', req11)

req13 = (req12.split(' '))
req14 = ' '.join(req13).split()

    
print(req14)
print ('req1.text = ', len(req14))

html의 순수 텍스트열을 알기 위해서는 <body>와 </body>사이의 내용을 추려내기 위해 re.search()메소드를 이용한다.  
그리고 <script>와 </script>사이의 내용, 태그 및 주석, 줄바꿈등을 모두  제거해주고 그다음 띄어쓰기 단위로 문자열을 잘라준 후 다시 붙여주게 되면  
띄어쓰기를 제외한 공백들은 제거되고 문자열도 띄어쓰기 단위로 나뉘어지게됩니다.  그다음 모든 문자열을 출력하고 원소 갯수(len)을 세줍니다.

6-2.

In [ ]:
import requests
import re


req1 = requests.get('https://naver.com/')
source = req1.text

#print source

body = re.search('<body.*</body>', source, re.I|re.S)

body = body.group()
body = re.sub('<script.*?>.*?</script>', '', body, 0, re.I|re.S)

req11 = re.sub('<.+?>', '', body, 0, re.I|re.S)

req12 = re.sub('&nbsp; |\t|\r|\n', '', req11)

req13 = (req12.split(' '))
req14 = ' '.join(req13).split()

    
print(req14)
print ('req1.text = ', len(req14))

위와 같은과정인 다른 웹페이지 예시입니다.

소감 : 5번문제까지는 이때까지 학습한 내용을 바탕으로 오랜 고민없이 해결할 수 있었지만, 6번 문제는 너무 어렵게 느껴졌습니다.  
       6번문제에만 많은 시간을 투자했음에도 깔끔하게 해결하지 못했습니다. 시간이 없어 제출하게 되었지만 html 태그에 대해  
       공부 한 후 다시 시도해보고싶습니다.