In [ ]:
1.
a="Hello Python"
print(a[6:12] + " " + a[0:6])

In [ ]:
2.
b="Hello Python World"
print(b[13:18] + " " + b[6:12] + " " + b[0:5])

In [ ]:
3.
c="Hello"
print(c[4::-1])

In [ ]:
4-1
s="python"
print(s[0], s[0][0], s[0][0][0])

s[0]은 s배열 0번째 원소 = p   
s[0][0]은 이중리스트 s배열 0번째 원소의 0번째 원소 = p   
s[0][0][0]은 삼중리스트 s배열 0번째 원소의 0번째 원소의 0번째 원소 = p

In [ ]:
4-2
s="python"
print(s[-100], s[100])

크기가 5인 문자열 s에서 100번째 요소와 뒤에서 100번째 요소는 존재하지 않으므로  
오류가 발생합니다.

In [ ]:
4-3
s="python"
print(s[-100, 100])

문자열의 인덱스를 정수가 아닌 문자로 줘서 오류가 발생

In [ ]:
4-4
s="python"
print(s[1:-1])

문자열의 1번째 원소 'y'에서 -1번째(뒤에서 1번째) 원소 n까지의 슬라이싱이므로  
n은 포함하지않고 'o'까지 출력.

In [ ]:
4-5
s="python"
print(s[3:-3])

문자열의 3번째 원소 'h'에서 -3번째(뒤에서 3번째)원소 'h'까지의 슬라이싱이므로  
h은 포함하지않고 'null'출력

In [ ]:
5.
for i in range(1, 101):
    if i % 2 == 1:
        print(i)

i의 범위를 1~100까지 설정 후 2로 나눈 나머지가 1인 홀수 i 출력

In [ ]:
6.
i=2
sum=0
while i <=100:
    if i % 2 ==0:
        sum = sum+i
    else:
        pass
    i=i+2

print(sum)

i는 짝수이므로 2로, 전체 합은 0으로 초기화  
i는 100이하의 범위내에서 2로 나눈 나머지가 0  
계속 더해주고 i는 짝수이므로 2씩 증가시켜준다.

In [ ]:
7.
a = int(input('정수를 입력하세요: '))
print(int(str(a)[::-1]))

숫자를 문자열인 배열로 변경하고 거꾸로만든 다음 다시 int형으로 변환해서 출력

In [8]:
8.
a = int(input('정수를 입력하세요: '))

for i in range(2, a+1):
    for j in range(2, i+1):
        if ( j == i ):
            print(i)
        elif(i % j ==0):
            break

정수를 입력하세요: 20
2
3
5
7
11
13
17
19

j가 i와 같다면 i를 출력하고  
i를 j로 나누었을 때 나머지가 0이면 break한다.

In [14]:
9. 
s = str(input('문자열을 입력하세요: '))

Kscore = 0
Sscore = 0

for i in range(len(s)):
    if s[i] in 'AEIOU':
        Kscore += (len(s)-i)
    if s[i] not in 'AEIOU':
        Sscore += (len(s)-i)

if Kscore > Sscore:
    print('승자는 Kevin 점수:', Kscore)
elif Sscore > Kscore:
    print('승자는 Stuart 점수:', Sscore)

문자열을 입력하세요: BANANA
승자는 Stuart 점수: 12

Kevin의 점수를 Kscore, Stuart의 점수를 Sscore  
자음이든 모음이든 문자열 배열s의 i번째에 위치하면  
(배열 s 길이의 - i)만큼 단어가 만들어지므로 for문으로 반복한다.  
예를들어 BANANA로 자음 시작 단어를 만들어보면  
B는 0번째, (B, BA, BAN, BANA, BANAN, BANANA) 총 6(6 - 0)  
N은 2번째, (N, NA, NAN, NANA) 총 4(6-2)  
4번째에 존재하는 N(N, NA) 총 2(6-4)
위와 같은 방식으로 모음도 똑같은 결과가 나온다.

In [60]:
10.
def appendDelete(s, t, k):
    cor = 0
    ans = 0
    for i in range(len(s)):
        for j in range(len(t)):
            if s[i] == t[j]:
                cor += 1
                ans = len(s) + len(t) - 2*cor
            
    if  ans <= k:
       print('Yes')
    elif ans > k:
       print('No')

appendDelete('hackerhappy', 'hackerrank', 9)
appendDelete('aba', 'aba', 7)
appendDelete('ashley', 'ash', 2)

Yes
Yes
No

두 문자열을 비교햇을 때, 중복 포함 다른부분(ans)이 k값을 넘어선다면(ans>k)  
'No'이고 k값과 같거나 작다면(ans<=k) 'Yes'이다.  
ans의 값은 두 문자열의 길이를 합친 후(len(s) + len(t))  
겹치는 부분(2cor)을 뺀 값이다.  
따라서 이 값이 k보다 작거나 같으면 yes  
크다면 s를 t로 바꿀 수 없기때문에 no가 나온다.

아직까지는 강의를 들으면서 이해가 잘 안가거나 크게 어려운 부분은 없지만,  
막상 숙제를 해보니 아직 jupyter notebook이 익숙하지 않고    
평소 이론과 더불어 코딩을 직접 해보는 실습의 중요성을 깨달았습니다.